* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 15px/1.5 Arial, sans-serif;
  overflow-x: hidden;
  background-color: #F4F5F7;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
header {
  position: fixed;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.navbar {
  font: 18px/1.5 Arial, sans-serif;
  height: 90px;
  background: linear-gradient(to right, #0097B2, #7ed957);
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.logo img {
  width: 100%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.currentPage{
	color: #045782;
	font-weight: bold;
}

.nav-links li {
  margin-left: 20px;
}

button {
  font: 18px/1.5 Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #008DD2, #008DD2, #008DD2);
  border: 1px solid #008DD2;
  color: white;
  padding: 1px 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}

.intro-text {
  background-image: url('index1.png');
  background-position: center;
  background-size: cover;
  padding: 140px 0 50px 0;
}

.intro-text h1{
	font: 90px/1.5 Arial, sans-serif;
	text-align: center;
	color: #0097b2;
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
}

.intro-text p{
	font: 50px/1.5 Arial, sans-serif;
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
#contents {
  width: 90%;
  margin: auto;
  padding: 25px 0 25px 0;
}

.picture-container {
  display: flex;
  padding-bottom: 25px;
}

.picture {
  font: 19px/1.5 Arial, sans-serif;
  padding-top: 15px;
  width: 27%;
  height: 600px;
  padding-bottom: 25px;
  text-align: center;
  margin: auto;
  overflow: auto;
}

.picture img {
  border-radius: 50%; 
  width: 200px;
  height: 200px; 
  object-fit: cover;
  margin-top: 0;
}

.picture h3{
  margin: 25px 0 25px 0;
}

.picture p{
  color: #00BF63;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.our-summary{
  display: flex;
  margin: auto;
  padding: 20px 0 20px 0;
}

.pic{
	width: 48%;
  margin: auto;
}

.pic img{
	width: 98%;
}

.txt{
  width: 48%;
  text-align: center;
  background-color: #90D577;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 25px 0 25px 0;
  margin: auto;
}

.txt p{
  font: 19px/1.5 Arial, sans-serif;
	width: 90%;
	margin: auto;
}

.txt button{
  font: 25px/1.5 Arial, sans-serif;
  margin-top: 10px;
  background: linear-gradient(to bottom, #ffffff, #008DD2, #008DD2, #008DD2);
  border: 2px solid #008DD2;
  border-radius: 20px;
  padding: 10px 5px 10px 5px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.maps{
  display: flex;
  margin: auto;
  padding: 25px 0 20px 0;
}

.maps div{
  width: 33%;
  height: 300px;
  margin: auto;
  border: 2px solid #90D577;
  overflow: hidden;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
footer{
  background: linear-gradient(to bottom, #0097B2, #7ed957);
}

.footer-content {
  font: 18px/1.5 Arial, sans-serif;
  color: #ffffff;
  width: 96%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 80px 20px;
  overflow: hidden;
}

.footer-content h2 {
  margin: 25px 0 25px 0;
  font-weight: bold;
}

.footer-column {
	width: 31%;
	height: 300px;
	margin: auto;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column h3 {
  color: white;
}

.footer-column img {
  width: 15px; 
  height: 15px; 
}

.affiliates img{
	width: 120px;
	height: 57px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
a{
	text-decoration: none;
}
a:link {
	color: #ffffff;
}
a:visited {
	color: #ffffff;
}
a:hover {
	text-decoration: underline;
}

/*Media queries----------------------------------------------------------------------------------------------------------------------*/

@media(max-width: 800px){
	
.navbar {
  font: 12px/1.5 Arial, sans-serif;
  height: 60px;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav-links {
  margin-right: 10px;
}

.nav-links li {
  margin-left: 10px;
}

button {
  font: 12px/1.5 Arial, sans-serif;
  padding: 1px 2px 1px 2px;
  margin-right: 5px;
}

.intro-text {
  padding: 70px 0 25px 0;
}

.intro-text h1{
	font: 30px/1.5 Arial, sans-serif;
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
}

.intro-text p{
	font: 15px/1.5 Arial, sans-serif;
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
}

#contents {
  width: 95%;
  margin: auto;
  padding: 15px 0 15px 0;
}

.picture-container{
  display: block;
  padding-bottom: 15px;
}

.picture {
  font: 12px/1.5 Arial, sans-serif;
  width: 95%;
  height: 180px;
  margin: auto;
  padding: 1px;
  align-items: center;
  overflow: hidden;
}

.picture img {
  border-radius: 50%; 
  width: 100px;
  height: 100px; 
  object-fit: cover;
  float: right;
  align-items: center;
}

.picture h3{
  margin: 5px 0 5px 0;
  float: left;
}

.picture p{
  width: 50%;
  float: left;
  text-align: justify;
}

.our-summary{
  display: block;
  margin: auto;
  padding: 10px 0 10px 0;
}

.txt{
  font: 12px/1.5 Arial, sans-serif;
  width: 95%;
  text-align: justify;
  align-items: center;
  color: #ffffff;
  padding: 10px 0 10px 0;
  margin: auto;
}

.txt p{
  font: 12px/1.5 Arial, sans-serif;
}

.txt button{
  font: 12px/1.5 Arial, sans-serif;
  padding: 1px 2px 1px 2px;
  text-align: center;
}

.maps{
  display: block;
  margin: auto;
  padding: 10px 0 10px 0;
}

.maps div{
  width: 80%;
  height: 150px;
  margin: auto;
  border: 1px solid #90D577;
  margin-bottom: 5px;
}

.footer-content {
  font: 12px/1.5 Arial, sans-serif;
  padding: 0 20px 0px 20px;
}

.footer-content h2 {
  font: 15px/1.5 Arial, sans-serif;
  margin: 12px 0 12px 0;
  font-weight: bold;
}

.footer-column img {
  width: 7px; 
  height: 7px; 
}

.affiliates img{
	width: 60px;
	height: 28px;
}
}
