* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: Arial, sans-serif;*/
  font: 15px/1.5 Arial, sans-serif;
  overflow-x: hidden;
  background-color: #F4F5F7;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
header {
  background-image: url('12671d42.png');
  background-size: cover;
  height: 500px;/*200 to 500*/
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.navbar {
  font: 18px/1.5 Arial, sans-serif;
  height: 90px;/*50 to 90*/
  background: linear-gradient(to right, #0097B2, #7ed957);
  display: flex;
  align-items: center;
  width: 100%;
  opacity: 0.7;
}

.logo img {
  width: 80px;/*50 to 80*/
  margin-left: 20px;
}

.nav-links {/*recheck this*/
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.book-now {
  background: linear-gradient(to bottom, #ffffff, #008DD2, #008DD2, #008DD2);
  color: white;
  padding: 5px 15px;
  border: 2px solid #008DD2;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}

.intro-text{
	font: 45px/1.5 Arial, sans-serif;
	text-align: center;
	margin-top: 50px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
#contents {
  width: 90%;
  margin: auto;
  padding: 25px 0 25px 0;
}

.picture-container {
  display: flex;
  padding-bottom: 25px;
}

.picture {
  font: 19px/1.5 Arial, sans-serif;
  padding-top: 15px;
  width: 27%;
  padding-bottom: 25px;
  /*height: 550px;*/ 
  text-align: center;
  margin: auto;
}

.picture img {
  border-radius: 50%; 
  width: 200px;
  height: 200px; 
  object-fit: cover;
  margin-top: 0;
}

.picture h3{
  margin: 25px 0 25px 0;
  text-decoration: underline;
}

.picture p{
  color: #00BF63;
}

.picture a{
	text-decoration: underline;
	color: #008DD2;
}
.picture a:link {
	color: #008DD2;
}
.picture a:visited {
	color: #008DD2;
}
.picture a:hover {
	text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.our-summary{
  display: flex;
  margin: auto;
}

.pic{
	width: 48%;
}

.pic img{
	width: 98%;
}

.txt{
	width: 48%;
  text-align: center;
  background-color: #90D577;
  border-radius: 10%;
    display: flex;
    align-items: center;
	color: #ffffff;
	padding: 20px 0 20px 0;
}

.txt p{
  font: 19px/1.5 Arial, sans-serif;
	width: 90%;
	margin: auto;
}

.txt button{
  font: 25px/1.5 Arial, sans-serif;
  margin-top: 10px;
  background: linear-gradient(to bottom, #ffffff, #008DD2, #008DD2, #008DD2);
  border: 2px solid #008DD2;
  border-radius: 20px;
  padding: 10px 5px 10px 5px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
.footer-content {
  background: linear-gradient(180deg, #7ed957, #0097B2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-column {
  flex: 1;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column h3 {
  color: white;
}

.footer-column img {
  width: 10px; 
  height: 10px; 
}

/*------------------------------------------------------------------------------------------------------------------------------*/
a{
	text-decoration: none;
}
a:link {
	color: #ffffff;
}
a:visited {
	color: #ffffff;
}
a:hover {
	text-decoration: underline;
}
